page-profile {
  .ion-card {
    background-color: #030303;
    position: relative;
    text-align: center;
    margin-bottom: 120px;
    img {
      height: 30%;
    }
  }
  .small-btn{
    text-transform: none;
  }
  .fig{
    margin: 0 6px;
  }

}
