
page-home {
  ion-navbar{
    span {
      color: #F8F8F8;
      font-size: large;
      position: relative;
      left: 16px;
    }
    button {
      right: 10px;
    }
  }

}
.nav {
  background-color: #b71c1c;
}
